@import "tailwindcss";

::selection {
  @apply bg-blue-600 text-white;
}

body{
    font-family: var(--font-body), system-ui, sans-serif;;
}

h1,h2,h3,h4,h5,h6 {
   font-family: var(--font-heading), sans-serif;
}

.form-input {
  @apply w-full px-4 py-2 rounded-lg border border-gray-300 text-xs
  focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.form-select {
  @apply w-full px-4 py-2 appearance-none rounded-lg border border-gray-300 text-xs bg-white
  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
  transition cursor-pointer;
}

.select-option {
  @apply text-xs text-gray-800 bg-blue-50;
}

.select-option:checked {
  @apply text-white bg-blue-500 
}


