@import "tailwindcss";

::selection {
  @apply bg-blue-600 text-white;
}

body{
    font-family: var(--font-body), system-ui, sans-serif;;
}

h1,h2,h3,h4,h5,h6 {
   font-family: var(--font-heading), sans-serif;
}

.form-input {
  @apply w-full px-4 py-3 pr-12 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition text-sm sm:text-base
}

.form-select {
  @apply w-full px-4 py-3 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition text-sm sm:text-base cursor-pointer bg-white
}

.select-option {
  @apply text-sm text-gray-800 py-2 px-3
}

.select-option:checked {
  @apply text-white bg-blue-600
}

